|*{
    background-color: rgb(132, 137, 141);
    
}

@media screen and (min-width: 900px) {
    haeder {
        padding: 1rem 3rem;
    }
}
li{
    padding: 20px;
}
header {
    height: 100px;
  
}
.promo{
    height: 300px;
    background-image: url(img/345cc879c1fb3b1603ee02f0e1cfced2.webp)  ;
background-size: cover;
background-position:center ;
min-height: 500px;
}

 .promo h2 {
  padding-top: 260px;
    text-align: center;
    font-size: 50px;
    color: rgb(5, 5, 5);
}


header .menu {
    background-color: rgb(147, 141, 87);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    list-style-type: none;
}
.tabs{
    display: flex;
    justify-content: space-between;
    height: 600px;
   
}
.tabs .item {
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 200px;
    padding: 10px 40px;
    border: 1px solid rgb(73, 65, 65);

    margin: auto;
}
.video {
    height: 300px;
    display: flex;
    justify-content: center;
}
.form form{
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 50px;
}
.form h2{
   text-align: center;
}
footer{
    background-color: silver;
    height: 50px;
}
footer .footer-menu{
    margin: auto;
    display: flex;
    width: 800px;
    justify-content: space-between;
    padding: 15px ;
    text-align: center;
}


.about-text{
    height: 400px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.about-text .about-item {
    
    display: flex;
    

}
 .about-item h2,h3 {
    
    
    width: 800px;

}